/* style.scss */


/* style config */
$layout-size: default;
@import 'scss/all';


@media #{$bp-medium} {
  $layout-size: medium;
  @import 'scss/all';
}

@media #{$bp-medium-and-above} {
  $layout-size: medium-and-above;
  @import 'scss/all';
}

@media #{$bp-large} {
  $layout-size: large;
  @import 'scss/all';
}
