/* style.scss */

/*
  These are general media-query independent imports, other general imports that
  are dependant on media-queries are imported within _all.scss
*/

@import "scss/base/variables";

@import "scss/helpers/mixins";
@import "scss/helpers/utils";

@import "scss/base/normalize";
@import "scss/base/base";

$layout-size: default;
@import "scss/all";

@media #{$bp-medium} {
  $layout-size: medium;
  @import "scss/all";
}

@media #{$bp-medium-and-above} {
  $layout-size: medium-and-above;
  @import "scss/all";
}

@media #{$bp-large} {
  $layout-size: large;
  @import "scss/all";
}
