/*
 * _mixins.scss
 */

/*
 * General mixins
 */
@mixin clearfix { overflow: hidden; }

/*
 * Let's not care about IE6/7,
 * http://www.cssmojo.com/latest_new_clearfix_so_far
 */
@mixin clearfix-overflow-visible {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/*
 * Accessibility mixins
 */

/*
 * http://a11yproject.com/posts/how-to-hide-content
 * https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 */
@mixin visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
