/* _base.scss */

@include layout-default {

  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @include base-font(base);
    color: $color-typography-base;
    background-color: $color-white;
  }

  * {
    @include box-sizing(border-box);
  }

  *, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  *:before, *:after {
    @include box-sizing(inherit);
  }

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, p {
    margin: 0;
  }

  input, textarea, button {
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    border-radius: 0;
    border: none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

}
