/* _typography.scss */

/* _typography config */

$base-font-size: 16px;

/* _typography mixins */

@mixin font-size($size: $base-font-size) {
  @if $size != none {
    @if unit($size) != 'px' {
      font-size: $size;
    } @else {
      $rem: #{$size / $base-font-size}rem;
      font-size: $size;
      font-size: $rem;
    }
  }
}

@mixin font-base-attributes($size, $weight, $style) {
  @include font-size($size);
  font-weight: $weight;

  @if $style != normal { font-style: $style; }
}

@mixin base-font($size: 16px, $weight: inherit, $style: normal) {
  @include font-base-attributes($size, $weight, $style);
  font-family: 'Helvetica', sans-serif;
}

/* _typography small */

@include layout-default {

}

/* _typography medium */

@include layout-medium {

}

/* _typography medium-and-above */

@include layout-medium-and-above {

}

/* _typography large */

@include layout-large {

}

