/* _variables.scss */

// These are strictly global variables. If you want to define variables local to a module
// it might be a good idea to include them in the module itself, under /* _module config */

/* Base */

$base-unit: 16px; 
$site-max-width: 1240px;

/* Grid */
$grid-col-count: 12;
$grid-gutter: 30px;

/* Breakpoints */
$breakpoints: (
  sm: 0,
  md: 640,
  lg: 1024,
) !default;

// Must be the same as in $breakpoints
$breakpoint-classes: (sm md lg) !default;

/* Typography */
$body-font-family: serif;
$header-font-family: sans-serif;

/* Colors */

$color-white: #fff;
$color-black: #000;
$color-typography-base: $color-black;

/* Easings */

$ease-aggressive: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-codrops: cubic-bezier(0.2, 1, 0.3, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$ease-default: $ease-in-out-circ;
