/* _grid.scss */

/* _grid config */

$grid-col-count: 12;
$grid-gutter: 30px;

/* _grid base */
@include breakpoint(sm) {

  .container-fluid { width: 100%; }

  .container {
    max-width: $site-max-width;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    @include row();
  }

  .col {
    padding-right: rem-calc($grid-gutter) / 2;
    padding-left: rem-calc($grid-gutter) / 2;
    float: left;
  }

  .col-opposite { float: right; }

  .hide-sm,
  .hide-sm-inline { display: none; }
}

/* _grid column generator */
@include each-breakpoint {
  @for $i from 1 through $grid-col-count {
    /* #$size */
    .#{$size}-#{$i} {
      width: (100% / $grid-col-count) * $i;
      padding-right: rem-calc($grid-gutter) / 2;
      padding-left: rem-calc($grid-gutter) / 2;
    }
  }
}