/* _grid.scss */

/* _grid config */
$grid-cols: 12;
$grid-col-padding: 15px;
$flexbox: true;

/* _grid base */
@include layout-default {

  .container-fluid { width: 100%; }

  .container {
    max-width: $site-max-width;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    @if not $flexbox {
      @include clearfix-overflow-visible;
    } @else {
      display: flex;
      flex: 0 1 auto;
      flex-wrap: wrap;
    }
    margin-right: -$grid-col-padding;
    margin-left: -$grid-col-padding;
  }

  .col {
    padding-right: $grid-col-padding;
    padding-left: $grid-col-padding;
  }

  .col-opposite { float: right; }

  @for $i from 1 through $grid-cols {
    .col-#{$i},
    .col-sm-#{$i} {
      @if not $flexbox {
        float: left;
        width: (100% / $grid-cols) * $i;
      } @else {
        flex-basis: (100% / $grid-cols) * $i;
        max-width: (100% / $grid-cols) * $i;
      }
      padding-right: $grid-col-padding;
      padding-left: $grid-col-padding;
    }
  }
}

/* _grid small */
@include layout-small {
  .hide-sm { display: none; }
}

/* _grid medium */
@include layout-medium {
  .hide-md { display: none; }

  .container {
    padding-right: $base-unit * 2;
    padding-left: $base-unit * 2;
  }

  @for $i from 1 through $grid-cols {
    .col-md-#{$i} {
      @if not $flexbox {
        float: left;
        width: (100% / $grid-cols) * $i;
      } @else {
        flex-basis: (100% / $grid-cols) * $i;
        max-width: (100% / $grid-cols) * $i;
      }
    }
  }
}

/* _grid medium-and-above */
@include layout-medium-and-above {
  .hide-md-lg { display: none; }
}

/* _grid large */
@include layout-large {
  .hide-lg { display: none; }

  @for $i from 1 through $grid-cols {
    .col-lg-#{$i} {
      @if not $flexbox {
        float: left;
        width: (100% / $grid-cols) * $i;
      } @else {
        flex-basis: (100% / $grid-cols) * $i;
        max-width: (100% / $grid-cols) * $i;
      }
    }
  }
}