/* _grid.scss */

/* _grid config */
$grid-cols: 12;
$grid-col-padding: 15px;

/* _grid base */
@include layout-default {
  .container-fluid { width: 100%; }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: $site-max-width;
  }

  .row {
    margin-right: auto;
    margin-left: auto;
    
    &:before,
    &:after,
    & &:before,
    & &:after  {
      content: " ";
      display: table;
    }

    &:after,
    & &:after {
      clear: both;
    }

    & & {
      margin-right: -$grid-col-padding;
      margin-left: -$grid-col-padding;
    }

  }

  .col {
    padding-right: $grid-col-padding;
    padding-left: $grid-col-padding;
  }

  @for $i from 1 through $grid-cols {
    .col-#{$i},
    .col-sm-#{$i} {
      float: left;
      width: (100% / $grid-cols) * $i;
      padding-right: $grid-col-padding;
      padding-left: $grid-col-padding;
      position: relative;
    }
  }
  @for $i from 1 through $grid-cols {
    .col-push-#{$i},
    .col-sm-push-#{$i} {
      float: left;
      position: relative;
      left: (100% / $grid-cols) * $i;
    }
    .col-pull-#{$i},
    .col-sm-pull-#{$i} {
      position: relative;
      right: (100% / $grid-cols) * $i;
      left: auto;
      float: right;
      
    }
  }
  .col-center,
  .col-sm-center {
    float: none;
    margin: 0 auto;
  }

  .col-opposite,
  .col-sm-opposite { float: right;  }
}

/* _grid medium */
@include layout-medium {
  .hide-md { display: none; }

  .container {
    padding-right: $base-unit * 2;
    padding-left: $base-unit * 2;
  }

  .col-md-opposite { float: right;  }
  .col-md-center {
    float: none;
    margin: 0 auto;
  }

  @for $i from 1 through $grid-cols {
    .col-md-#{$i} {
      float: left;
      width: (100% / $grid-cols) * $i;
      padding-right: $grid-col-padding;
      padding-left: $grid-col-padding;
      position: relative;
    }
  }
  @for $i from 1 through $grid-cols {
    .col-push-#{$i},
    .col-md-push-#{$i} {
      float: left;
      position: relative;
      left: (100% / $grid-cols) * $i;
    }
    .col-pull-#{$i},
    .col-md-pull-#{$i} {
      position: relative;
      right: (100% / $grid-cols) * $i;
      left: auto;
      float: right;
      
    }
  }
}

/* _grid medium-and-above */
@include layout-medium-and-above {
  .hide-md-lg { display: none; }
  .col-md-lg-center {
    margin-left: auto;
    margin-right: auto;
  }
}

/* _grid large */
@include layout-large {
  .hide-lg { display: none; }
  .col-lg-opposite { float: right;  }
  .col-lg-center {
    float: none;
    margin: 0 auto;
  }

  @for $i from 1 through $grid-cols {
    .col-lg-#{$i} {
      float: left;
      width: (100% / $grid-cols) * $i;
      padding-right: $grid-col-padding;
      padding-left: $grid-col-padding;
      position: relative;
    }
  }
  @for $i from 1 through $grid-cols {
    .col-push-#{$i},
    .col-lg-push-#{$i} {
      float: left;
      position: relative;
      left: (100% / $grid-cols) * $i;
    }
    .col-pull-#{$i},
    .col-lg-pull-#{$i} {
      position: relative;
      right: (100% / $grid-cols) * $i;
      left: auto;
      float: right;
      
    }
  }
}