/* _variables.scss */

// These are strictly global variables. If you want to define variables local
// to a module it might be a good idea to include them in the module itself,
// under /* _module config */

/* Breakpoints */
$breakpoint-small-only: '(max-width: 549px)';
$breakpoint-medium-only: '(min-width: 550px) and (max-width: 1000px)';
$breakpoint-medium-and-above: '(min-width: 550px)';
$breakpoint-large-and-above: '(min-width: 1001px)';

/* Colors */
$color-white: #fff;
$color-black: #000;
$color-typography-base: $color-black;
