/* _mixins.scss */
@import '../vendor/triangle-mixin';

@mixin clearfix { overflow: hidden; }

/* Let's not even care about IE6/7, http://www.cssmojo.com/latest_new_clearfix_so_far/ */
@mixin clearfix-overflow-visible {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}



/// Wraps a media query around the content you put inside the mixin. This mixin accepts a number of values:
@mixin breakpoint($value) {
  $str: breakpoint($value);

  // If $str is still an empty string, no media query is needed
  @if $str == '' {
    @content;
  }

  // Otherwise, wrap the content in a media query
  @else {
    @media screen and #{$str} {
      @content;
    }
  }
}

/* Iterates through breakpoints defined in `$breakpoint-classes` and prints the CSS inside the mixin at each breakpoint's media query. */
@mixin each-breakpoint($small: true) {
  $map: $breakpoint-classes;

  @if not $small {
    $map: map-remove($map, $zero-breakpoint);
  }

  @each $size in $map {
    $size: $size !global;

    @include breakpoint($size) {
      @content;
    }
  }
}

/* Grid row */
@mixin row(){
  @include clearfix-overflow-visible;
  & & {
    margin-right: rem-calc($grid-gutter) / -2;
    margin-left: rem-calc($grid-gutter) / -2;
  }
}

/* Grid col */
@mixin col($size: 12, $position: left){

  @if $position == left {
    float: left;
  }
  @if $position == right {
    float: right;
  }
  @if $position == center {
    float: none;
    margin: 0 auto;
  }

  width: (100% / $grid-col-count) * $size;
  padding-right: rem-calc($grid-gutter) / 2;
  padding-left: rem-calc($grid-gutter) / 2;
}
