/* _mixins.scss */

/* _mixins config */
@import '../vendor/triangle-mixin';

@mixin clearfix { overflow: hidden }

/* Let's not even care about IE6/7, http://www.cssmojo.com/latest_new_clearfix_so_far/ */
@mixin clearfix-overflow-visible {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
